@import "tailwindcss";

@theme {
  --font-serif: 'DM Serif Display', serif;
  --font-sans: 'Raleway', sans-serif;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: theme('colors.stone.300');
  color: theme('colors.stone.900');
}